{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="css/style.css">
{% endblock head %}

{% block content %}
<div class="hero">
  <h1 class="hero-title">Welcome to My Personal Website</h1>
  <p class="hero-subtitle">I'm passionate about <span class="highlight">web development</span> and <span class="highlight">design</span>.</p>
  <a href="#about" class="btn-primary">Learn More</a>
  <p>Click <a href="{{ get_url(path='blog/') }}">here</a> to see my posts.</p>
</div>

<section id="about" class="about">
  <div class="container">
    <h2>About Me</h2>
    <p>Hi, I'm Jason, a web developer with a keen interest in creating visually appealing and functional websites. My journey in web development started here</p>
  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h2>Portfolio</h2>
    <!-- Portfolio Item 1 -->
    <div class="portfolio-item">
      <h3>Project 1</h3>
      <p>Fashion Forward is a sleek and responsive e-commerce platform designed for a boutique fashion store. This project showcases my skills in front-end development using HTML5, CSS3, and JavaScript, coupled with a backend built on Python and Django. Key features include a dynamic product catalog, an integrated payment gateway, and a custom CMS for product and inventory management. The site’s responsive design ensures optimal viewing on all devices, utilizing CSS Flexbox and Grid, and features like image optimization and lazy loading for enhanced performance.</p>
      <a href="/portfolio/project1" class="btn-secondary">View Project</a>
    </div>
    <!-- Portfolio Item 2 -->
    <div class="portfolio-item">
      <h3>Project 2 - Culinary Canvas</h3>
      <p>Culinary Canvas is an interactive recipe-sharing platform that revolutionizes the way culinary enthusiasts explore and share recipes. Developed with a React frontend and a Node.js backend, this project features user authentication, personalized recipe management, and real-time feedback from a vibrant community of food lovers. Key challenges included optimizing the responsive design for various devices and implementing an efficient search algorithm to handle a large database of recipes. This project highlights my ability in full-stack web development and my commitment to creating engaging user experiences.</p>
      <a href="/portfolio/project2" class="btn-secondary">View Project</a>
    </div>
  </div>
</section>


<!-- Additional sections here -->

{% endblock content %}

